MANIFOLD_API_KEY=xxxxxxxxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
MANIFOLD_USERNAME=YourUsername
MANIFOLD_MARKET_SLUG=random-market-slug-rationalussy
TELEGRAM_BOT_TOKEN=123456789:ABCdef...
TELEGRAM_CHAT_ID=123456789